<div id="course-pricing" class="container text-center">
   <h1 class="sr-only">Pricing</h1>
   <p class="h1 od-title">Start  learning today</p>
   <div class="pricing-options row just-all-courses selectable">
      <div class="col-md-4 pricing-col buy-now-url" data-monthly-url="/FreeTrial/4997?courseId=49&amp;source=course-about&amp;sourceBagId=170" data-annual-url="/FreeTrial/4997?courseId=49&amp;source=course-about&amp;sourceBagId=170">
         <div class="panel panel-default selectable">
            <div class="top">
               <%# <p class="sale annual hidden">Hot deal</p> %>
               <p class="pricing-type">
                  Web conferencing
                  <br>
                  <%# <span class="text-muted">
                     + All Courses
                     </span> %>
               </p>
               <div class="free">
                  <%# <div><img src="https://raw.githubusercontent.com/bigbluebutton/greenlight/master/app/assets/images/logo_with_text.png" alt="Ruby on Rails for Web Development"></div> %>
                  <%# <div><img src="../../assets/images/logo_with_text.png" alt="Ruby on Rails for Web Development"></div>
                  <%= image_tag ('/assets/images/logo_with_text.png'), class: "img-responsive"%>
                  <%= image_tag "Free.png" %>
                  <%# <div class="course-icon-color" style="background-color: #fb3259;"><img src="https://cdn.goskills.com/blobs/bags/170/icon.png" alt="Ruby on Rails for Web Development"></div> %>
               </div>
               <div class="pricing">
                  <h2>
                     <span class="price"><span class="currency-symbol"></span>
                     <span class="before-decimal-point">
                     <%# <%= I18n.t("subscribe_free.attributes.trail_amout")%>
                     </span>
                     <span class="after-decimal-point">
                     </span>
                     </span>
                     <%# <span class="currency sr-only">INR</span> %>
                  </h2>
                  <p class="period"><%= I18n.t("subscribe_free.attributes.validity")%></p>
               </div>
               <div class="pricing-actions">
                  <div class="buy">
                  <%# cmd Francis below code for parameter send st %>
                     <%# <%= link_to "Start free trial", signup_path(@ufeature, :value => "3", :enabled => false, :pay_type => 'Free', :pay_status => 'Success', :validity => '7 Days only Access'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                     <%= link_to "Start free trial", signup_path(@ufeature, :pay_type => 'Free'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                     
<%# <%= link_to "Start free trial", signup_path(form_tag({:controller => "ufeatures", :action => "create"}, :method => "get", :class => "nifty_form"),:value => "3", :enabled => false, :pay_type => 'Free', :pay_status => 'Success', :validity => '7 Days only Access'), :class => "btn btn-outline-primary mx-2 sign-in-button"%>
<%# <%= link_to(t("Start free trial"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener") %> 
                  </div>
               </div>
            </div>
            <div class="bottom">
               <p>Access to:</p>
               <p class="name"><%= I18n.t("subscribe_free.attributes.room_limit")%> Rooms</p>
               <%# <p class="name">Web conferencing</p> %>
            </div>
         </div>
      </div>
      <div class="col-md-4 pricing-col buy-now-url" data-monthly-url="/Subscription/4997?courseId=49&amp;source=course-about&amp;sourceBagId=170" data-annual-url="/Subscription/5025?courseId=49&amp;source=course-about&amp;sourceBagId=170">
         <div class="panel panel-default selectable">
            <div class="top">
               <p class="pricing-type">
                  Web conferencing
                  <br>
                  <%# <span class="text-muted">
                     + All Courses
                     </span> %>
               </p>
               <div class="pro">
                  <div>
                  <%# <img src="https://raw.githubusercontent.com/bigbluebutton/greenlight/master/app/assets/images/logo_with_text.png" alt="Ruby on Rails for Web Development"> %>
                  <%= image_tag "Basic.png" %>
                  </div>
               </div>
               <div class="pricing">
                  <h2>
                     <span class="price monthly">
                        <span class="currency-symbol">€</span>
                        <span class="before-decimal-point"><%= I18n.t("subscribe_basics.attributes.basic_amout")%></span>
                        <%# <span class="after-decimal-point">
                           <span class="currency-acronym">INR</span>
                        </span>
                        <span class="currency sr-only">INR</span> %>
                     </span>
                     <%# <span class="price annual hidden"><span class="currency-symbol">INR</span>
                     <span class="before-decimal-point">10,000</span><span class="after-decimal-point">
                     <span class="currency-acronym">INR</span>    </span>
                     *<span class="currency sr-only">INR</span></span> %>
                  </h2>
                  <p class="period monthly"><%= I18n.t("subscribe_basics.attributes.validity")%></p>
                  <%# <p class="period annual hidden">per year</p>
                  <div class="monthly ">
                  </div>
                  <p class="annual hidden">
                     <span class="save experiment-control">Save INR6800</span>
                     <span class="save experiment-variation hidden">Get 4 months free</span> today.
                  </p> %>
               </div>
               <div class="pricing-actions">
                  <div class="buy">
                     <%# <%= link_to "Buy now", signup_path(@ufeature, :value => "5", :enabled => false, :pay_type => 'Basic', :pay_status => 'Success', :validity => 'One Month Access'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                     <%= link_to "Buy now", signup_path(@ufeature, :pay_type => 'Basic'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                  </div>
               </div>
            </div>
            <div class="bottom">
               <p>Access to:</p>
               <p class="name"><%= I18n.t("subscribe_basics.attributes.room_limit")%> Rooms</p>
               <p class="name"><%= I18n.t("subscribe_basics.attributes.storage_access")%></p>
               <%# <p class="name">Web conferencing</p> %>
            </div>
         </div>
      </div>
      <div class="col-md-4 pricing-col buy-now-url" data-monthly-url="/Subscription/4997?courseId=49&amp;source=course-about&amp;sourceBagId=170" data-annual-url="/Subscription/5025?courseId=49&amp;source=course-about&amp;sourceBagId=170">
         <div class="panel panel-default recommended selectable">
            <p class="above">Most popular</p>
            <div class="top">
               <p class="pricing-type">
                  Web conferencing
                  <br>
                  <%# <span class="text-muted">
                     + All Courses
                     </span> %>
               </p>
               <div class="pro">
                  <div>
                  <%# <img src="https://raw.githubusercontent.com/bigbluebutton/greenlight/master/app/assets/images/logo_with_text.png" alt="Ruby on Rails for Web Development"> %>
                  <%= image_tag "Premium.png" %>
                  </div>
               </div>
               <div class="pricing">
                  <h2>
                     <%# <span class="price monthly hidden">
                        <span class="currency-symbol">INR</span>
                        <span class="before-decimal-point">1,400</span>
                        <span class="after-decimal-point">
                           <span class="currency-acronym">INR</span>    
                        </span>
                        <span class="currency sr-only">INR</span>
                     </span> %>
                        <span class="price annual">
                           <span class="currency-symbol">€</span>
                           <span class="before-decimal-point"><%= I18n.t("subscribe_premium.attributes.premium_amout")%></span>
                           <%# <span class="after-decimal-point">
                              <span class="currency-acronym">INR</span>    
                           </span>
                           *<span class="currency sr-only">INR</span> %>
                        </span>
                  </h2>
                  <%# <p class="period monthly hidden">per month</p> %>
                  <p class="period annual"><%= I18n.t("subscribe_premium.attributes.validity")%></p>
                  <%# <div class="monthly  hidden">
                  </div> %>
                  <%# <p class="annual">
                     <span class="save experiment-control">Save INR6800</span><span class="save experiment-variation hidden">Get 4 months free</span> today.
                  </p> %>
               </div>
               <div class="pricing-actions">
                  <div class="buy">
                     <%# <%= link_to "Buy now", signup_path(@ufeature, :value => "10", :enabled => false, :pay_type => 'Premium', :pay_status => 'Success', :validity => 'One Year Access'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                     <%= link_to "Buy now", signup_path(@ufeature, :pay_type => 'Premium'), :class => "btn btn-outline-primary mx-2 sign-in-button" %>
                  </div>
               </div>
            </div>
            <div class="bottom">
               <p>Access to:</p>
               <p class="name"><%= I18n.t("subscribe_premium.attributes.room_limit")%> Rooms</p>
               <p class="name"><%= I18n.t("subscribe_premium.attributes.storage_access")%></p>
               <p class="name"><%= I18n.t("subscribe_premium.attributes.licenses")%></p>
               <%# <p class="name">Web conferencing</p> %>
            </div>
         </div>
      </div>
   </div>
   <br>
   <%# <p class="text-center">* Lock in the sale price! Annual subscription will auto-renew in 12 months at INR10000.00. Cancel anytime.</p> %>
</div>