<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<footer class="footer pt-3">
  <p class="text-center mb-1">
    <%# <%= t("footer.powered_by", href: link_to('Cagliero Live', "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %>
    <%= t("footer.powered_by", href: link_to('Cagliero Live', "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %>
    <%# <%= Greenlight::Application::VERSION %>
    <% if legal_url.present? %>
      <span>
        |
        <%= link_to(t("footer.legal"), 'legal_url') %>
      </span> 
    <% end %>
    <% if privpolicy_url.present? %>
      <span>
        |
        <%= link_to(t("footer.privpolicy"), privpolicy_url)  %>
      </span>
    <% end %>
  </p>
</footer>

<%= render "shared/components/cookie_warning" %>
