<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="form-group mt-n3">
  <nav class="row m-0">
    <div class="nav col nav-tabs admin-tabs m-0 p-0" >
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'appearance' %>" href="?tab=appearance" role="tab" aria-selected="true">
        <i class="fas mr-3 fa-palette"></i>
        <%= t("administrator.site_settings.tabs.appearance") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'administration' %>" href="?tab=administration" role="tab" aria-selected="false">
        <i class="fas mr-3 fa-toolbox"></i>
        <%= t("administrator.site_settings.tabs.administration") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'settings' %>"  href="?tab=settings" role="tab" aria-selected="false">
       <i class="fas mr-3 fa-tools"></i>
        <%= t("administrator.site_settings.tabs.settings") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'registration' %>"  href="?tab=registration" role="tab" aria-selected="false">
       <i class="far mr-3 fa-newspaper"></i>
        <%= t("administrator.site_settings.tabs.registration") %>
      </a>
    </div>
  </nav>
</div>

<%= render "admins/components/site_settings/#{@tab}" %>

<script>
    console.log("Message");
</script>

