/* BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
*
* Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
*
* This program is free software; you can redistribute it and/or modify it under the
* terms of the GNU Lesser General Public License as published by the Free Software
* Foundation; either version 3.0 of the License, or (at your option) any later
* version.
*
* BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
* WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
* PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License along
* with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
*/

// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  .center-panel {
    .center-panel-size {
      max-width: 400px;
    }
  }
}

a.signin-link {
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}

.signin-link {
  .signin-icon {
    vertical-align: middle;
    width: 35px;
    height: 35px;
  }
  .signin-button {
    background: white;
    width: 250px;
    border: thin solid #888;
    border-radius: 2px;
    white-space: nowrap;
    padding: 5px;
    margin-bottom: 14px;
  }
  .signin-icon-wrapper {
    display: inline-block;
    width: 40px;
  }
  .signin-text-wrapper {
    display: inline-block;
    width: 200px;
  }
  .signin-text {
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #444;
  }
}

//@at-root
