.p {
    margin: 0 0 10px;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.admin.course-pricing #content .table tr td {
	vertical-align: middle
}
@media (min-width:768px) {
	#course-pricing-business {
		padding-top: 60px;
		padding-bottom: 40px
	}
}

@media (min-width:992px) {
	#course-pricing-business {
		padding-top: 120px;
		height: 400px
	}
	#course-pricing-business .h1 {
		margin-bottom: 30px
	}
}

#course-pricing-business .h1 {
	color: #fff;
	margin-bottom: 15px
}

#course-pricing-business .btn {
	display: block;
	margin: 0 0 10px
}

@media (min-width:768px) {
	#course-pricing-business .btn {
		display: inline-block;
		margin: 0
	}
}

#course-pricing-business {
	background: #656564 url(https://cdn.goskills.com/assets/images/course/business-pricing-background.jpg) 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px
}

#course-pricing .pricing-options {
	margin: 50px
}

#course-pricing .pricing-options.just-all-courses {
	margin-top: 70px
}

@media (max-width:1199px) {
	#course-pricing .pricing-options {
		margin: 50px 15px
	}
}

@media (min-width:992px) {
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended {
		box-shadow: none;
		transition: box-shadow .2s ease-in-out;
		border-bottom-left-radius: 0
	}
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended .bottom {
		padding-bottom: 20px;
		border-bottom-left-radius: 0
	}
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended:hover {
		box-shadow: 0 0 50px #89949b;
		transition: box-shadow .2s ease-in-out;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px
	}
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended:hover .bottom {
		padding-bottom: 30px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px
	}
}

@media (min-width:992px) and (max-width:1199px) {
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended .bottom {
		height: 160px
	}
}

@media (min-width:992px) and (max-width:1199px) {
	#course-pricing .pricing-options.selectable:hover [class^=col-] .panel.recommended:hover .bottom {
		height: 170px
	}
}

#course-pricing .pricing-options .pricing-col {
	padding-left: 0;
	padding-right: 0
}

@media (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col {
		margin-bottom: 30px
	}
}

#course-pricing .pricing-options .pricing-col .panel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-bottom-width: 1px;
	margin-bottom: 0
}

#course-pricing .pricing-options .pricing-col .panel.selectable:hover {
	cursor: pointer
}

@media (min-width:992px) {
	#course-pricing .pricing-options .pricing-col .panel {
		border-radius: 0;
		border-right-width: 0
	}
}

#course-pricing .pricing-options .pricing-col .panel.recommended {
	box-shadow: 0 0 50px #89949b;
	transition: box-shadow .2s ease-in-out;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

@media (min-width:992px) {
	#course-pricing .pricing-options .pricing-col .panel.recommended {
		margin-top: -40px
	}
}

#course-pricing .pricing-options .pricing-col .panel.recommended .bottom {
	padding-bottom: 30px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

@media (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col .panel.recommended .bottom {
		height: 170px
	}
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel.recommended .bottom {
		height: auto;
		padding-bottom: 20px
	}
}

#course-pricing .pricing-options .pricing-col .panel.recommended .above {
	margin-bottom: 0;
	padding: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	background-color: #36373c;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

#course-pricing .pricing-options .pricing-col .panel .top {
	padding: 20px 40px;
	overflow: hidden;
	position: relative
}

@media (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col .panel .top {
		padding: 20px 20px
	}
}

#course-pricing .pricing-options .pricing-col .panel .top .course-icon-color {
	margin: 0 auto
}

#course-pricing .pricing-options .pricing-col .panel .top .sale {
	position: absolute;
	top: 15px;
	left: -50px;
	background: #ef5350;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	width: 180px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-type {
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel .top .pricing-type {
		margin-top: 0
	}
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-type span {
	font-weight: 600
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing {
	height: 150px
}

@media (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col .panel .top .pricing {
		height: 160px
	}
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel .top .pricing {
		height: auto
	}
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 {
	margin-top: 20px;
	margin-bottom: 5px
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 {
		margin-top: 0
	}
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price {
	position: relative;
	font-family: 'Open Sans', sans-serif
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price .after-decimal-point,
#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price .currency-symbol {
	font-size: 20px
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price .after-decimal-point {
	display: inline-block;
	vertical-align: middle
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price .after-decimal-point .currency-acronym {
	display: inline;
	font-size: 18px
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing h2 .price .before-decimal-point {
	position: relative;
	bottom: -9px;
	font-size: 50px
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing .period {
	color: #89949b;
	font-size: 16px
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-actions {
	height: 45px
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel .top .pricing-actions {
		height: auto
	}
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-actions.two-buttons {
	height: 105px
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-actions .buy .btn {
	margin-top: 0
}

#course-pricing .pricing-options .pricing-col .panel .top .pricing-actions .buy .btn .icon-gift-outline {
	margin-right: 5px;
	color: #36373c
}

#course-pricing .pricing-options .pricing-col .panel .bottom {
	padding: 20px 5px;
	background-color: #fcfcfc;
	border-top: 1px solid #d0d9df
}

@media (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col .panel .bottom {
		height: 160px
	}
}

@media (max-width:991px) {
	#course-pricing .pricing-options .pricing-col .panel .bottom {
		height: auto
	}
}

#course-pricing .pricing-options .pricing-col .panel .bottom img {
	height: 40px
}

#course-pricing .pricing-options .pricing-col .panel .bottom .name {
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 0
}

@media (min-width:992px) {
	#course-pricing .pricing-options .pricing-col:hover .panel.selectable {
		box-shadow: 0 0 50px #89949b;
		transition: box-shadow .2s ease-in-out;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px
	}
	#course-pricing .pricing-options .pricing-col:hover .panel.selectable .bottom {
		padding-bottom: 30px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px
	}
}

@media (min-width:992px) and (max-width:1199px) {
	#course-pricing .pricing-options .pricing-col:hover .panel.selectable .bottom {
		height: 170px
	}
}

#course-pricing .pricing-options .pricing-col:first-child .panel {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

#course-pricing .pricing-options .pricing-col:first-child .panel .bottom {
	border-bottom-left-radius: 4px
}

#course-pricing .pricing-options .pricing-col:last-child .panel {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right-width: 1px
}

@media (min-width:992px) {
	#course-pricing .pricing-options.selectable .pricing-col:hover {
		z-index: 100
	}
}

.family-lean-six-sigma table.text-center th {
	text-align: center
}

.has-feedback label.sr-only~.form-control-feedback {
	top: 0
}

.od-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300
}

#page.od-settings.cart h1 {
	max-width: 400px;
	margin-bottom: 50px;
	display: inline-block
}
#page.od-settings .cancel h1 {
	margin-top: 20px
}

#page.od-settings.update-card h1 {
	margin-bottom: 40px
}

#page.od-settings.cancel h1,
#page.od-settings.update-card h1 {
	margin-top: 80px;
	margin-bottom: 15px;
	border-bottom: 0
}

h1.page-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 40px
}

@media (min-width:768px) {
	.modal-page.onboarding.setup-goals .time-spent-goal-card .h1 {
		margin-top: initial;
		margin-bottom: initial
	}
}
@media (max-width:767px) {
	.h1,
	h1 {
		font-size: 30px
	}
	.h2,
	h2 {
		font-size: 24px
	}
	.h3,
	h3 {
		font-size: 18px
	}
	.h4,
	h4 {
		font-size: 14px
	}
}

@media (min-width:768px) {
	.h1-sm {
		font-size: 36px
	}
	.h2-sm {
		font-size: 30px
	}
	.h3-sm {
		font-size: 24px
	}
	.h4-sm {
		font-size: 18px
	}
	.h5-sm {
		font-size: 14px
	}
}

@media (max-width:767px) {
	.h1-xs {
		font-size: 36px
	}
	.h2-xs {
		font-size: 30px
	}
	.h3-xs {
		font-size: 24px
	}
	.h4-xs {
		font-size: 18px
	}
	.h5-xs {
		font-size: 14px
	}
}

@media (min-width:992px) {
	.h1-md {
		font-size: 36px
	}
	.h2-md {
		font-size: 30px
	}
	.h3-md {
		font-size: 24px
	}
	.h4-md {
		font-size: 18px
	}
	.h5-md {
		font-size: 14px
	}
}

@media (min-width:1200px) {
	.h1-lg {
		font-size: 36px
	}
	.h2-lg {
		font-size: 30px
	}
	.h3-lg {
		font-size: 24px
	}
	.h4-lg {
		font-size: 18px
	}
	.h5-lg {
		font-size: 14px
	}
}

.h1:first-child,
.h2:first-child,
.h3:first-child,
h1:first-child,
h2:first-child,
h3:first-child {
	margin-top: 0
}

.h1.border-bottom,
.h2.border-bottom,
.h3.border-bottom,
h1.border-bottom,
h2.border-bottom,
h3.border-bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid #d0d9df;
	margin-bottom: 20px
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
	line-height: 1.2
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 5px
}


.strong,
b,
strong {
	font-weight: 600
}

.stronger {
	font-weight: 800
}

li {
	margin-bottom: 5px
}

.color-google {
	color: #e26942
}

a.color-google:active,
a.color-google:focus,
a.color-google:hover {
	color: #d14b20
}

.color-facebook {
	color: #4569a3
}

a.color-facebook:active,
a.color-facebook:focus,
a.color-facebook:hover {
	color: #36527f
}

.color-twitter {
	color: #3cb9e7
}

a.color-twitter:active,
a.color-twitter:focus,
a.color-twitter:hover {
	color: #1aa3d6
}

.color-linkedin {
	color: #068abf
}

a.color-linkedin:active,
a.color-linkedin:focus,
a.color-linkedin:hover {
	color: #04668e
}

.color-whatsapp {
	color: #25d366
}

a.color-whatsapp:active,
a.color-whatsapp:focus,
a.color-whatsapp:hover {
	color: #1da851
}

.color-pocket {
	color: #ee4056
}

a.color-pocket:active,
a.color-pocket:focus,
a.color-pocket:hover {
	color: #e6152f
}

.color-default {
	color: #36373c
}

a.color-default:active,
a.color-default:focus,
a.color-default:hover {
	color: #1e1e21
}

.color-heading {
	color: #222
}

a.color-heading:active,
a.color-heading:focus,
a.color-heading:hover {
	color: #080808
}

.color-pink {
	color: #ef5350
}

a.color-pink:active,
a.color-pink:focus,
a.color-pink:hover {
	color: #eb2521
}

.color-white {
	color: #fff
}

p.course-attribution {
	color: #a5adb2;
	font-size: 11px;
	text-align: center;
	margin-bottom: 15px
}

.dark p.course-attribution {
	color: #6f7b82
}

.dark-alt p.course-attribution {
	color: #89949b
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

.course.business-pricing .pricing-row .pricing-options-row {
	padding: 20px
}

.od-course-card:not(.selectable).od-course-card:not(.bag-card):hover {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}
.od-course-card.selectable.selected {
	opacity: 1;
	-webkit-box-shadow: -1px 15px 40px 2px #d0d9df;
	box-shadow: -1px 15px 40px 2px #d0d9df
}

.od-orgtag-card.selectable.selected .select-course-checkbox:after {
	position: absolute;
	top: 2px;
	left: 6px;
	font-size: 12px;
	line-height: inherit!important;
	font-family: goskills-icons;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-transition: color .15s linear;
	-o-transition: color .15s linear;
	transition: color .15s linear;
	content: '\e839'
}

.od-orgtag-card.selectable {
	opacity: .7
}

.od-orgtag-card.selectable .select-course-checkbox {
	display: block;
	margin: 0;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #d0d9df;
	color: #36373c;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: center
}

.od-orgtag-card.selectable.selected {
	opacity: 1;
	-webkit-box-shadow: -1px 15px 40px 2px #d0d9df;
	box-shadow: -1px 15px 40px 2px #d0d9df
}

.od-orgtag-card.selectable.selected .select-course-checkbox {
	background-color: #ffd723;
	-webkit-box-shadow: 0 2px 5px #89949b;
	box-shadow: 0 2px 5px #89949b;
	border: 1px solid #ffd723
}

.org-dashboard .od-training.assign-courses .course-selection-btn a.selectable {
	color: #0091ff;
	cursor: pointer
}

.org-dashboard .od-training.courses-list .courses-table thead tr th .course-selection-btn a.selectable {
	color: #0091ff;
	cursor: pointer
}

.org-dashboard .od-learners.group-overview .checkbox-table .item-selection-btn a.selectable {
	color: #0091ff;
	cursor: pointer
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .gradient-div {
	margin-top: 0;
	border-radius: 0
}

.modal-page.onboarding.families .families-container .family-course-card.selectable {
	float: none;
	display: table!important;
	margin: 0 10px 25px 10px;
	height: 180px!important;
	width: 150px;
	min-width: 150px
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .gs-course-icon {
	background-size: 80px;
	background-position: center center
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .course-family-panel-link {
	height: 180px;
	display: block
}

@media (min-width:768px) {
	.modal-page.onboarding.families .families-container .family-course-card.selectable {
		height: 220px!important;
		width: 200px;
		min-width: 200px
	}
	.modal-page.onboarding.families .families-container .family-course-card.selectable .gs-course-icon {
		background-size: 95px;
		background-position: center center
	}
	.modal-page.onboarding.families .families-container .family-course-card.selectable .course-family-panel-link {
		height: 220px;
		display: block
	}
}

.modal-page.onboarding.families .families-container .family-course-card.selectable:not(.selected) {
	box-shadow: none
}

.modal-page.onboarding.families .families-container .family-course-card.selectable:hover {
	-webkit-box-shadow: 0 10px 15px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 10px 15px 1px rgba(0, 0, 0, .15)
}

.modal-page.onboarding.families .families-container .family-course-card.selectable.selected .select-course-checkbox i {
	margin-top: -2px
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-content {
	position: relative;
	text-align: center
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-content .select-course-checkbox {
	margin: 6px 6px 0 0
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-content .family-title {
	position: absolute;
	top: 145px;
	color: #fff;
	width: 100%;
	left: 0;
	font-weight: 600
}

@media (min-width:768px) {
	.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-content .select-course-checkbox {
		margin: 9px 9px 0 0
	}
	.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-content .family-title {
		position: absolute;
		top: 175px;
		color: #fff;
		width: 100%;
		left: 0;
		font-weight: 600
	}
}

.modal-page.onboarding.families .families-container .family-course-card.selectable .bag-card-header {
	height: 100%!important
}

.bag-card.od-course-card.card.selectable .course-card-link {
	color: #89949b!important
}

.bag-card.od-course-card.card.selectable.selected {
	margin-top: -15px!important;
	margin-bottom: 35px!important;
	box-shadow: 0 25px 15px 1px rgba(0, 0, 0, .15)
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	float: left
}

.col-xs-12 {
	width: 100%
}

.col-xs-11 {
	width: 91.66666667%
}

.col-xs-10 {
	width: 83.33333333%
}

.col-xs-9 {
	width: 75%
}

.col-xs-8 {
	width: 66.66666667%
}

.col-xs-7 {
	width: 58.33333333%
}

.col-xs-6 {
	width: 50%
}

.col-xs-5 {
	width: 41.66666667%
}

.col-xs-4 {
	width: 33.33333333%
}

.col-xs-3 {
	width: 25%
}

.col-xs-2 {
	width: 16.66666667%
}

.col-xs-1 {
	width: 8.33333333%
}

.col-xs-pull-12 {
	right: 100%
}

.col-xs-pull-11 {
	right: 91.66666667%
}

.col-xs-pull-10 {
	right: 83.33333333%
}

.col-xs-pull-9 {
	right: 75%
}

.col-xs-pull-8 {
	right: 66.66666667%
}

.col-xs-pull-7 {
	right: 58.33333333%
}

.col-xs-pull-6 {
	right: 50%
}

.col-xs-pull-5 {
	right: 41.66666667%
}

.col-xs-pull-4 {
	right: 33.33333333%
}

.col-xs-pull-3 {
	right: 25%
}

.col-xs-pull-2 {
	right: 16.66666667%
}

.col-xs-pull-1 {
	right: 8.33333333%
}

.col-xs-pull-0 {
	right: auto
}

.col-xs-push-12 {
	left: 100%
}

.col-xs-push-11 {
	left: 91.66666667%
}

.col-xs-push-10 {
	left: 83.33333333%
}

.col-xs-push-9 {
	left: 75%
}

.col-xs-push-8 {
	left: 66.66666667%
}

.col-xs-push-7 {
	left: 58.33333333%
}

.col-xs-push-6 {
	left: 50%
}

.col-xs-push-5 {
	left: 41.66666667%
}

.col-xs-push-4 {
	left: 33.33333333%
}

.col-xs-push-3 {
	left: 25%
}

.col-xs-push-2 {
	left: 16.66666667%
}

.col-xs-push-1 {
	left: 8.33333333%
}

.col-xs-push-0 {
	left: auto
}

.col-xs-offset-12 {
	margin-left: 100%
}

.col-xs-offset-11 {
	margin-left: 91.66666667%
}

.col-xs-offset-10 {
	margin-left: 83.33333333%
}

.col-xs-offset-9 {
	margin-left: 75%
}

.col-xs-offset-8 {
	margin-left: 66.66666667%
}

.col-xs-offset-7 {
	margin-left: 58.33333333%
}

.col-xs-offset-6 {
	margin-left: 50%
}

.col-xs-offset-5 {
	margin-left: 41.66666667%
}

.col-xs-offset-4 {
	margin-left: 33.33333333%
}

.col-xs-offset-3 {
	margin-left: 25%
}

.col-xs-offset-2 {
	margin-left: 16.66666667%
}

.col-xs-offset-1 {
	margin-left: 8.33333333%
}

.col-xs-offset-0 {
	margin-left: 0
}

@media (min-width:768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-pull-11 {
		right: 91.66666667%
	}
	.col-sm-pull-10 {
		right: 83.33333333%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-8 {
		right: 66.66666667%
	}
	.col-sm-pull-7 {
		right: 58.33333333%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-5 {
		right: 41.66666667%
	}
	.col-sm-pull-4 {
		right: 33.33333333%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-2 {
		right: 16.66666667%
	}
	.col-sm-pull-1 {
		right: 8.33333333%
	}
	.col-sm-pull-0 {
		right: auto
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666667%
	}
	.col-sm-push-10 {
		left: 83.33333333%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666667%
	}
	.col-sm-push-7 {
		left: 58.33333333%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666667%
	}
	.col-sm-push-4 {
		left: 33.33333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.66666667%
	}
	.col-sm-push-1 {
		left: 8.33333333%
	}
	.col-sm-push-0 {
		left: auto
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%
	}
	.col-sm-offset-0 {
		margin-left: 0
	}
}

@media (min-width:992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-pull-11 {
		right: 91.66666667%
	}
	.col-md-pull-10 {
		right: 83.33333333%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-pull-8 {
		right: 66.66666667%
	}
	.col-md-pull-7 {
		right: 58.33333333%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-pull-5 {
		right: 41.66666667%
	}
	.col-md-pull-4 {
		right: 33.33333333%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-pull-2 {
		right: 16.66666667%
	}
	.col-md-pull-1 {
		right: 8.33333333%
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
	.col-md-offset-0 {
		margin-left: 0
	}
}

@media (min-width:1200px) {
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-pull-11 {
		right: 91.66666667%
	}
	.col-lg-pull-10 {
		right: 83.33333333%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-pull-8 {
		right: 66.66666667%
	}
	.col-lg-pull-7 {
		right: 58.33333333%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-pull-5 {
		right: 41.66666667%
	}
	.col-lg-pull-4 {
		right: 33.33333333%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-pull-2 {
		right: 16.66666667%
	}
	.col-lg-pull-1 {
		right: 8.33333333%
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-push-11 {
		left: 91.66666667%
	}
	.col-lg-push-10 {
		left: 83.33333333%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-push-8 {
		left: 66.66666667%
	}
	.col-lg-push-7 {
		left: 58.33333333%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-push-5 {
		left: 41.66666667%
	}
	.col-lg-push-4 {
		left: 33.33333333%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-push-2 {
		left: 16.66666667%
	}
	.col-lg-push-1 {
		left: 8.33333333%
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
	.col-lg-offset-0 {
		margin-left: 0
	}
}

table {
	background-color: transparent
}

table col[class*=col-] {
	position: static;
	display: table-column;
	float: none
}

table td[class*=col-],
table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #89949b;
	text-align: left
}

th {
	text-align: left
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
	border-top: 0
}

.table>tbody+tbody {
	border-top: 2px solid #ddd
}

.table .table {
	background-color: #f9f9f9
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
	padding: 5px
}

.table-bordered {
	border: 1px solid #ddd
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9
}

.table-hover>tbody>tr:hover {
	background-color: #f5f5f5
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
	background-color: #f5f5f5
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
	background-color: #e8e8e8
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
	background-color: #fff
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
	background-color: #f2f2f2
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
	background-color: #d9edf7
}

.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr.info:hover>th,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
	background-color: #c4e3f3
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
	background-color: #fcf8e3
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
	background-color: #faf2cc
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
	background-color: #fef2f2
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
	background-color: #fcdada
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto
}

@media screen and (max-width:767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd
	}
	.table-responsive>.table {
		margin-bottom: 0
	}
	.table-responsive>.table>tbody>tr>td,
	.table-responsive>.table>tbody>tr>th,
	.table-responsive>.table>tfoot>tr>td,
	.table-responsive>.table>tfoot>tr>th,
	.table-responsive>.table>thead>tr>td,
	.table-responsive>.table>thead>tr>th {
		white-space: nowrap
	}
	.table-responsive>.table-bordered {
		border: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child,
	.table-responsive>.table-bordered>tbody>tr>th:first-child,
	.table-responsive>.table-bordered>tfoot>tr>td:first-child,
	.table-responsive>.table-bordered>tfoot>tr>th:first-child,
	.table-responsive>.table-bordered>thead>tr>td:first-child,
	.table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child,
	.table-responsive>.table-bordered>tbody>tr>th:last-child,
	.table-responsive>.table-bordered>tfoot>tr>td:last-child,
	.table-responsive>.table-bordered>tfoot>tr>th:last-child,
	.table-responsive>.table-bordered>thead>tr>td:last-child,
	.table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 0
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td,
	.table-responsive>.table-bordered>tbody>tr:last-child>th,
	.table-responsive>.table-bordered>tfoot>tr:last-child>td,
	.table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 0
	}
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}

input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none
}

input[type=checkbox],
input[type=radio] {
	margin: 4px 0 0;
	line-height: normal
}

fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
	cursor: not-allowed
}

input[type=file] {
	display: block
}

input[type=range] {
	display: block;
	width: 100%
}

select[multiple],
select[size] {
	height: auto
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.gift-pricing .pricing-col {
	width: 285px;
	margin: auto
}

.gift-pricing .pricing-col .panel {
	padding: 30px;
	border-bottom-width: 1px
}

.gift-pricing .pricing-col .panel.annual {
	border: 2px solid #ffd723
}

.gift-pricing .pricing-col .panel .recommended-tag {
	background: linear-gradient(120deg, #9a3482 0, #dd0c13 100%);
	border-radius: 5px;
	font-size: 12px;
	height: 24px;
	width: 130px;
	padding: 4px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	top: -13px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 600
}

.gift-pricing .pricing-col .panel .price {
	padding-top: 25px;
	padding-bottom: 25px
}

.gift-pricing .pricing-col .panel .price .currency-symbol {
	font-size: large;
	color: #89949b;
	vertical-align: super
}

.gift-pricing .pricing-col .panel .price .before-decimal-point {
	font-size: 50px;
	font-weight: 400;
	color: #222
}

.gift-pricing .pricing-col .panel .price .after-decimal-point {
	font-size: large;
	color: #89949b;
	vertical-align: super
}

.gift-pricing .pricing-col .panel .pricing-actions {
	padding-top: 50px
}

.gift-pricing .pricing-col .panel .pricing-actions .icon-gift-outline {
	color: #36373c
}

.gift-pricing .pricing-col .panel input[type=number] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield
}

.gift-pricing .pricing-col .panel input[type=number]::-webkit-inner-spin-button,
.gift-pricing .pricing-col .panel input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none
}

.gift-pricing .pricing-col .panel .number-input {
	border: 2px solid #ddd;
	display: inline-flex
}

.gift-pricing .pricing-col .panel .number-input,
.gift-pricing .pricing-col .panel .number-input * {
	box-sizing: border-box
}

.gift-pricing .pricing-col .panel .number-input button {
	outline: 0;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	margin: 0;
	position: relative
}

.gift-pricing .pricing-col .panel .number-input button:after,
.gift-pricing .pricing-col .panel .number-input button:before {
	display: inline-block;
	position: absolute;
	content: '';
	width: 1rem;
	height: 2px;
	background-color: #212121;
	transform: translate(-50%, -50%)
}

.gift-pricing .pricing-col .panel .number-input button.plus:after {
	transform: translate(-50%, -50%) rotate(90deg)
}

.gift-pricing .pricing-col .panel .number-input input[type=number] {
	font-family: sans-serif;
	max-width: 5rem;
	padding: .5rem;
	border: solid #ddd;
	border-width: 0 2px;
	font-size: 2rem;
	height: 3rem;
	font-weight: 700;
	text-align: center
}

.panel {
	margin-bottom: 20px;
	background-color: #f7fbff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
	padding: 20px
}

.panel-heading {
	padding: 20px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
	color: inherit
}

.panel-footer {
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.list-group,
.panel>.panel-collapse>.list-group {
	margin-bottom: 0
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
	border-width: 1px 0;
	border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}

.list-group+.panel-footer {
	border-top-width: 0
}

.panel>.panel-collapse>.table,
.panel>.table,
.panel>.table-responsive>.table {
	margin-bottom: 0
}

.panel>.panel-collapse>.table caption,
.panel>.table caption,
.panel>.table-responsive>.table caption {
	padding-right: 20px;
	padding-left: 20px
}

.panel>.table-responsive:first-child>.table:first-child,
.panel>.table:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
	border-top-left-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
	border-top-right-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child,
.panel>.table:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
	border-bottom-right-radius: 3px
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
	border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child td,
.panel>.table>tbody:first-child>tr:first-child th {
	border-top: 0
}

.panel>.table-bordered,
.panel>.table-responsive>.table-bordered {
	border: 0
}

.panel>.table-bordered>tbody>tr>td:first-child,
.panel>.table-bordered>tbody>tr>th:first-child,
.panel>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-bordered>thead>tr>td:first-child,
.panel>.table-bordered>thead>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
	border-left: 0
}

.panel>.table-bordered>tbody>tr>td:last-child,
.panel>.table-bordered>tbody>tr>th:last-child,
.panel>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-bordered>thead>tr>td:last-child,
.panel>.table-bordered>thead>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
	border-right: 0
}

.panel>.table-bordered>tbody>tr:first-child>td,
.panel>.table-bordered>tbody>tr:first-child>th,
.panel>.table-bordered>thead>tr:first-child>td,
.panel>.table-bordered>thead>tr:first-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
	border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td,
.panel>.table-bordered>tbody>tr:last-child>th,
.panel>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-bordered>tfoot>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
	border-bottom: 0
}

.panel>.table-responsive {
	margin-bottom: 0;
	border: 0
}

.panel-group {
	margin-bottom: 20px
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px
}

.panel-group .panel+.panel {
	margin-top: 5px
}

.panel-group .panel-heading {
	border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd
}

.panel-default {
	border-color: #d0d9df
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fcfcfc;
	border-color: #d0d9df
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d0d9df
}

.panel-default>.panel-heading .badge {
	color: #fcfcfc;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d0d9df
}

.panel-primary {
	border-color: #ffd723
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #ffd723;
	border-color: #ffd723
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ffd723
}

.panel-primary>.panel-heading .badge {
	color: #ffd723;
	background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ffd723
}

.panel-success {
	border-color: #d0d9df
}

.panel-success>.panel-heading {
	color: #1fb08a;
	background-color: #fff;
	border-color: #d0d9df
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d0d9df
}

.panel-success>.panel-heading .badge {
	color: #fff;
	background-color: #1fb08a
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d0d9df
}

.panel-info {
	border-color: #bce8f1
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}

.panel-warning {
	border-color: #faebcc
}

.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc
}

.panel-danger {
	border-color: #ff4748
}

.panel-danger>.panel-heading {
	color: #ff1415;
	background-color: #fef2f2;
	border-color: #ff4748
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ff4748
}

.panel-danger>.panel-heading .badge {
	color: #fef2f2;
	background-color: #ff1415
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ff4748
}
#blog-post .blog-title:after,
#blog-post .blog-title:before,
#blog-posts .blog-posts:after,
#blog-posts .blog-posts:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

#blog-post .blog-title:after,
#blog-posts .blog-posts:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.panel-body:after,
.row:after {
	clear: both
}

.panel {
	border-bottom-width: 2px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.org-dashboard .od-reports.activity-reports.activity-overview .panel-default .panel-heading .od-caption {
	display: inline-block;
	color: #36373c;
	font-weight: 700
}

.org-dashboard .od-reports.courses-report .panel-default .panel-heading .od-caption {
	display: inline-block;
	color: #36373c;
	font-weight: 700
}

.search #content .container div.panel.panel-default {
	padding: 20px;
	background: #fff
}

#course-about-coupon .text-muted {
	margin-bottom: 20px
}

#course-about-coupon .text-muted .old-price {
	text-decoration: line-through;
	color: #e00001
}

.search #content .container h2.text-muted {
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin: 40px 0
}

#cart .cart-discount .currency .text-muted {
	display: block;
	font-size: 13px;
	font-weight: 400
}

#course-about-coupon-banner .container .inner .text-muted {
	margin-bottom: 0
}

#course-about-coupon-banner .container .inner .text-muted .old-price {
	text-decoration: line-through;
	color: #e00001
}

.org.course.pricing .free {
	font-size: 30px;
	margin-top: 10px;
	font-weight: 600;
	display: block
}

#pricing-modal-combined .modal-header .modal-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px
}

#pricing-modal-combined .modal-header .modal-desc {
	font-weight: 300;
	margin-top: 5px;
	font-size: 16px;
	color: #89949b
}

@media (min-width:992px) {
	#pricing-modal-combined .modal-body {
		padding-left: 40px;
		padding-right: 40px
	}
}

#pricing-modal-combined .modal-body .pricing-plan-card .panel-heading {
	background-color: #f3f4f9;
	height: 190px
}

#pricing-modal-combined .modal-body .pricing-plan-card .panel-heading .plan-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px
}

#pricing-modal-combined .modal-body .pricing-plan-card:hover {
	-webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
	box-shadow: 0 10px 15px rgba(0, 0, 0, .1)
}

@media (min-width:992px) {
	#pricing-modal-combined .modal-body .pricing-plan-card:hover {
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

#pricing-modal-combined .modal-body .pricing-plan-card.individual-plan .panel-heading {
	background-image: url(https://cdn.goskills.com/assets/images/course/illustration-individual-plan.png);
	background-repeat: no-repeat;
	background-size: auto 60%;
	background-position: center bottom
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
	#pricing-modal-combined .modal-body .pricing-plan-card.individual-plan .panel-heading {
		background-image: url(https://cdn.goskills.com/assets/images/course/illustration-individual-plan2x.png)
	}
}

#pricing-modal-combined .modal-body .pricing-plan-card.teams-plan .panel-heading {
	background-image: url(https://cdn.goskills.com/assets/images/course/illustration-teams-plan.png);
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: center bottom
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
	#pricing-modal-combined .modal-body .pricing-plan-card.teams-plan .panel-heading {
		background-image: url(https://cdn.goskills.com/assets/images/course/illustration-teams-plan2x.png)
	}
}

#pricing-modal-combined .modal-body .pricing-plan-card .panel-footer {
	padding: 30px
}

#pricing-modal-combined .modal-body .pricing-plan-card .panel-footer .btn {
	font-size: 14px
}

#pricing-modal-combined .modal-body .pricing-plan-card .panel-body {
	padding: 30px 20px
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-from {
	font-weight: 700;
	font-size: 13px
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper .currency-acronym,
#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper .currency-symbol {
	font-size: 18px;
	color: #89949b
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper .before-decimal-point {
	font-size: 35px
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper .currency-symbol {
	margin-right: 10px
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-wrapper .currency-acronym {
	margin-left: 10px
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-plan-card-link {
	color: #36373c;
	outline: 0;
	display: block
}

#pricing-modal-combined .modal-body .pricing-plan-card .pricing-plan-card-link:focus,
#pricing-modal-combined .modal-body .pricing-plan-card .pricing-plan-card-link:hover {
	outline: 0;
	text-decoration: none
}

#page.business.lms .pricing-section .lms-pricing-panel {
	border-bottom-width: 1px
}

@media (min-width:992px) {
	#page.business.lms .pricing-section .lms-pricing-panel .panel-body {
		padding: 40px
	}
}

#page.business.lms .pricing-section .lms-pricing-panel .business-section {
	margin-top: 0!important
}

#page.business.lms .pricing-section .lms-pricing-panel .free-tag {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700
}

#page.business.lms .pricing-section .lms-pricing-panel .features-col {
	padding: 0
}

#page.business.lms .pricing-section .lms-pricing-panel .features-list {
	padding-left: 0
}

#page.business.lms .pricing-section .lms-pricing-panel .features-list li {
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px
}

#page.business.lms .pricing-section .lms-pricing-panel .included-img {
	max-width: 270px;
	display: inline-block;
	margin-top: 70px
}

#page.business.lms .pricing-section .lms-pricing-panel .panel-collapse .panel-body {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel) {
	border-color: transparent
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading {
	border: none!important;
	background-color: #eceef6
}

@media (min-width:992px) {
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading {
		padding: 30px
	}
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:focus,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:hover,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:visited,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:focus,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:hover,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:visited,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:focus,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:hover,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:visited,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:focus,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:hover,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:visited {
	text-decoration: none;
	outline: 0
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a {
	display: block;
	position: relative
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:hover:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:hover:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:hover:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:hover:after {
	color: #ffd723
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:after {
	font-family: goskills-icons;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-transition: color .15s linear;
	-o-transition: color .15s linear;
	transition: color .15s linear;
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	text-align: right;
	content: '\e884'
}

@media (min-width:768px) {
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a:after,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a:after,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a:after,
	#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a:after {
		right: 10px;
		top: 7px;
		font-size: 36px
	}
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title a.collapsed:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title a.collapsed:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title a.collapsed:after,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title a.collapsed:after {
	content: '\e885'
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title .pricing-section-title,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title .pricing-section-title,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title .pricing-section-title,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title .pricing-section-title {
	font-size: 20px
}

#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-body .panel-title .pricing-section-description,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-body .panel-title .pricing-section-description,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-collapse>.panel-heading .panel-title .pricing-section-description,
#page.business.lms .pricing-section #pricing-addons-accordion .panel:not(.pricing-panel)>.panel-heading .panel-title .pricing-section-description {
	font-size: 14px
}

#page.business.lms .pricing-section #pricing-addons-accordion .pricing-panel {
	position: relative;
	margin-top: 20px
}

@media (min-width:768px) {
	#page.business.lms .pricing-section #pricing-addons-accordion .pricing-panel {
		margin-top: 0
	}
}

#page.business.lms .pricing-section #pricing-addons-accordion .pricing-panel .panel-body {
	padding: 15px
}

#page.business.lms .pricing-section #pricing-addons-accordion .pricing-panel .recommended-tag {
	position: absolute!important
}

#page.business.lms .pricing-section .send-enquiry-btn {
	min-width: 150px
}

#page.business.courses-for-teams #pricing-modal .modal-footer {
	border-top: 1px solid #d0d9df
}

#page.business.courses-for-teams .pricing-panel,
#page.business.lms .pricing-panel {
	border-bottom-width: 1px
}

#page.business.courses-for-teams .pricing-panel.monthly,
#page.business.lms .pricing-panel.monthly {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #d0d9df
}

#page.business.courses-for-teams .pricing-panel.annual,
#page.business.lms .pricing-panel.annual {
	border: solid 1px #efc400;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ffea89;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ffea89
}

#page.business.courses-for-teams .pricing-panel.selected .panel-body,
#page.business.lms .pricing-panel.selected .panel-body {
	-webkit-box-shadow: none;
	box-shadow: none
}

#page.business.courses-for-teams .pricing-panel .panel-body,
#page.business.lms .pricing-panel .panel-body {
	padding: 15px;
	color: #36373c;
	border-top: none;
	cursor: default
}

#page.business.courses-for-teams .pricing-panel .panel-body.total-per-learner,
#page.business.lms .pricing-panel .panel-body.total-per-learner {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

#page.business.courses-for-teams .pricing-panel .panel-body.total,
#page.business.lms .pricing-panel .panel-body.total {
	border-top: #d0d9df 1px solid
}

#page.business.courses-for-teams .pricing-panel .pricing-plan-header,
#page.business.lms .pricing-panel .pricing-plan-header {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300
}

#page.business.courses-for-teams .pricing-panel .recommended-tag,
#page.business.lms .pricing-panel .recommended-tag {
	background: linear-gradient(120deg, #9a3482 0, #dd0c13 100%);
	border-radius: 5px;
	font-size: 12px;
	height: 24px;
	width: 130px;
	padding: 4px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	top: -13px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 600
}

#courses-panel.product-panel>.pricing-panel-header {
	background-image: url(https://cdn.goskills.com/assets/images/business/illustration-library.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto 65%
}

@media (min-width:1200px) {
	#courses-panel.product-panel>.pricing-panel-header {
		background-size: auto 85%
	}
}

#courses-panel.product-panel.billing-page-panel>.pricing-panel-header {
	background-size: auto 60%
}

@media (min-width:1200px) {
	#courses-panel.product-panel.billing-page-panel>.pricing-panel-header {
		background-size: auto 75%
	}
}

#enterprise-panel.product-panel>.pricing-panel-header {
	background-image: url(https://cdn.goskills.com/assets/images/business/illustration-book-buildings.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto 65%
}

@media (min-width:1200px) {
	#enterprise-panel.product-panel>.pricing-panel-header {
		background-size: auto 85%
	}
}

#enterprise-panel.product-panel.billing-page-panel>.pricing-panel-header {
	background-size: auto 60%
}

@media (min-width:1200px) {
	#enterprise-panel.product-panel.billing-page-panel>.pricing-panel-header {
		background-size: auto 75%
	}
}

#course-about-title .label.label-pink.pricing-modal-experiment {
	font-weight: 400;
	font-size: 12px;
	padding: 10px 15px;
	background-image: -webkit-linear-gradient(left, #983783 0, #dc141a 100%);
	background-image: -o-linear-gradient(left, #983783 0, #dc141a 100%);
	background-image: linear-gradient(to right, #983783 0, #dc141a 100%);
	background-repeat: repeat-x
}

#course-about-title .label.label-pink.pricing-modal-experiment .icon {
	display: none
}
.sidebar.sidebar-course-about .sidebar-top .label-pink.pricing-modal-experiment {
	font-weight: 400;
	font-size: 12px;
	padding: 10px 15px;
	background-image: -webkit-linear-gradient(left, #983783 0, #dc141a 100%);
	background-image: -o-linear-gradient(left, #983783 0, #dc141a 100%);
	background-image: linear-gradient(to right, #983783 0, #dc141a 100%);
	background-repeat: repeat-x
}

.sidebar.sidebar-course-about .sidebar-top .label-pink.pricing-modal-experiment .icon {
	display: none
}

#pricing-join {
	border-top: 1px solid #d0d9df;
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #fff 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #fff 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #fff 100%);
	background-repeat: repeat-x
}

#pricing-join form {
	text-align: left
}

@media (min-width:992px) {
	#pricing-join .container {
		padding-top: 50px
	}
}

.pricing #home-as-seen {
	background-color: #fff;
	border-top: 1px solid #d0d9df
}

.org.course.pricing #choose-quantity {
	position: relative
}

.org.course.pricing #choose-quantity .quantity-form-group {
	width: 100%;
	position: absolute;
	top: -13px
}

.org.course.pricing #choose-quantity .quantity-form-group .quantity-adjust {
	position: absolute;
	border-radius: 50%;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 0
}

.org.course.pricing #choose-quantity .quantity-form-group .quantity-adjust.plus {
	right: 85px
}

.org.course.pricing #choose-quantity .quantity-form-group .quantity-adjust.minus {
	left: -70px;
	line-height: 35px
}



.org.course.pricing .tooltip {
	text-transform: none
}

.org.course.pricing #mobile-pricing td:not(.th) {
	padding-top: 40px!important
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing {
		margin-top: 10px
	}
}

.org.course.pricing #course-org-pricing .drag {
	margin-top: -10px;
	position: relative;
	top: 30px
}

.org.course.pricing #course-org-pricing .drag .arrow {
	position: relative;
	top: 3px;
	left: 5px;
	font-size: 32px;
	font-weight: 400
}

.org.course.pricing #course-org-pricing p.h1 {
	margin-top: -35px
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing p.h1 {
		margin-top: 0
	}
}

.org.course.pricing #course-org-pricing p.drag {
	text-align: left;
	text-transform: uppercase;
	font-weight: 700
}

.org.course.pricing #course-org-pricing #org-pricing {
	margin-top: 40px
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing #org-pricing {
		margin-top: 20px
	}
}

.org.course.pricing #course-org-pricing #org-pricing table .invisible {
	border: none!important
}

.org.course.pricing #course-org-pricing #org-pricing table .table-striped>tbody>tr:nth-child(2n)>th,
.org.course.pricing #course-org-pricing #org-pricing table.table-striped>tbody>tr:nth-child(2n)>td {
	background-color: #fff
}

.org.course.pricing #course-org-pricing #org-pricing table .table-striped>tbody>tr:nth-child(2n+1)>th,
.org.course.pricing #course-org-pricing #org-pricing table.table-striped>tbody>tr:nth-child(2n+1)>td {
	background-color: #fcfcfc
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing #org-pricing table {
		background-color: #fff
	}
}

.org.course.pricing #course-org-pricing #org-pricing table td.border-bottom {
	border-bottom: 1px solid #ddd
}

.org.course.pricing #course-org-pricing #org-pricing table td.plus {
	line-height: 100%;
	vertical-align: middle
}

.org.course.pricing #course-org-pricing #org-pricing table th.shadow {
	box-shadow: 0 0 15px 3px #d0d9df
}

.org.course.pricing #course-org-pricing #org-pricing table tr.last-row .shadow {
	box-shadow: 0 0 15px 3px #d0d9df
}

.org.course.pricing #course-org-pricing #org-pricing table tr:not(.last-row) .shadow {
	position: relative
}

.org.course.pricing #course-org-pricing #org-pricing table tr:not(.last-row) .shadow:before {
	box-shadow: -15px 0 15px -12px #d0d9df inset;
	content: " ";
	height: 100%;
	top: 0;
	left: -15px;
	position: absolute;
	width: 15px
}

.org.course.pricing #course-org-pricing #org-pricing table tr:not(.last-row) .shadow:after {
	box-shadow: 15px 0 15px -12px #d0d9df inset;
	content: " ";
	height: 100%;
	position: absolute;
	top: 0;
	right: -15px;
	width: 15px
}

.org.course.pricing #course-org-pricing #org-pricing table .peruser .formatted-price {
	font-size: 0
}

.org.course.pricing #course-org-pricing #org-pricing table .peruser .formatted-price>* {
	font-size: 30px;
	font-weight: 600
}

.org.course.pricing #course-org-pricing #org-pricing table .peruser .acronym {
	margin-left: 2px;
	font-size: 16px
}

.org.course.pricing #course-org-pricing #org-pricing table .buy-links a {
	width: 80%
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing #org-pricing table .buy-links a {
		width: 165px
	}
}

.org.course.pricing #course-org-pricing #org-pricing table .buy-links p {
	margin-top: 15px
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing #org-pricing table .buy-links p {
		margin-top: 18px
	}
}

.org.course.pricing #course-org-pricing #org-pricing table tr.access {
	border-top: 1px solid #ddd
}

.org.course.pricing #course-org-pricing #org-pricing table tr.peruser td {
	border-bottom: 1px solid #ddd
}

.org.course.pricing #course-org-pricing #org-pricing table tr.total td {
	background-color: #fcf6dc!important
}

.org.course.pricing #course-org-pricing #org-pricing table .last-row td {
	border: 1px solid #ddd;
	border-top: none
}

.org.course.pricing #course-org-pricing #org-pricing table .th,
.org.course.pricing #course-org-pricing #org-pricing table th {
	padding: 20px;
	text-align: center;
	border: 1px solid #ddd;
	border-bottom: none
}

@media (min-width:768px) {
	.org.course.pricing #course-org-pricing #org-pricing table .th,
	.org.course.pricing #course-org-pricing #org-pricing table th {
		background-color: #fff
	}
}

.org.course.pricing #course-org-pricing #org-pricing table .th p.name,
.org.course.pricing #course-org-pricing #org-pricing table th p.name {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 600
}

.org.course.pricing #course-org-pricing #org-pricing table .th p.period,
.org.course.pricing #course-org-pricing #org-pricing table th p.period {
	margin-top: 5px
}

.org.course.pricing #course-org-pricing #org-pricing table .th .image-wrapper,
.org.course.pricing #course-org-pricing #org-pricing table th .image-wrapper {
	display: inline-block;
	background-color: #36373c;
	height: 60px;
	width: 60px;
	padding: 5px;
	padding-top: 10px;
	border-radius: 3px
}

.org.course.pricing #course-org-pricing #org-pricing table td {
	padding: 15px;
	border: none;
	border-right: 1px solid #ddd
}

@media (max-width:767px) {
	.org.course.pricing #course-org-pricing #org-pricing table td {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-right: none;
		border-left: none
	}
}

.org.course.pricing #course-org-pricing #org-pricing table td.hd {
	text-align: left;
	color: #89949b;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px
}

.org.course.pricing #course-org-pricing #org-pricing table td.hd span[class^=icon-]:before {
	font-size: 16px;
	margin-right: 15px
}

.org.course.pricing #course-org-pricing #org-pricing table td.hd .icon-help-circled {
	margin-right: 15px
}

.org.course.pricing #course-org-pricing #org-pricing table td.hd .icon-help-circled:hover {
	color: #36373c
}

.org.course.pricing #course-org-pricing #org-pricing table td.hd .icon-help-circled:before {
	margin-right: 0!important
}

.org.course.pricing #course-org-pricing #org-pricing table ul {
	list-style: none;
	padding: 0;
	padding-top: 10px;
	font-size: 13px;
	color: #89949b
}

.org.course.pricing #home-start h2 {
	margin-top: 20px
}

.org.course.pricing #home-start .btn-xl {
	padding: 15px 50px
}

.org.course.pricing #business-intro {
	background-color: #fff
}

.course.business-pricing .header-row .course-icon-color {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	padding: 20px
}

.course.business-pricing .header-row .course-icon-color img {
	width: 60px;
	height: 60px
}

.course.business-pricing .header-row .course-business-pricing-description {
	font-size: 16px
}

.course.business-pricing .form-group.people .control-label {
	display: none
}



.course.business-pricing .pricing-row .pricing-panel {
	position: relative
}

@media (min-width:992px) {
	.course.business-pricing .pricing-row .pricing-panel.main-panel::before {
		position: absolute;
		height: 200px;
		width: 200px;
		left: -200px;
		top: -250px;
		content: "";
		background-image: url(https://cdn.goskills.com/assets/images/course/illustration-people-floating-left.png);
		background-repeat: no-repeat;
		background-size: contain
	}
	.course.business-pricing .pricing-row .pricing-panel.main-panel::after {
		position: absolute;
		height: 200px;
		width: 200px;
		right: -200px;
		top: -250px;
		content: "";
		background-image: url(https://cdn.goskills.com/assets/images/course/illustration-people-floating-right.png);
		background-repeat: no-repeat;
		background-size: contain
	}
}

@media (min-width:1200px) {
	.course.business-pricing .pricing-row .pricing-panel.main-panel::before {
		height: 300px;
		width: 300px;
		left: -300px
	}
	.course.business-pricing .pricing-row .pricing-panel.main-panel::after {
		height: 300px;
		width: 300px;
		right: -300px
	}
}

.course.business-pricing .pricing-row .pricing-panel .panel-heading {
	background-color: #fff
}

.course.business-pricing .pricing-row .pricing-panel .panel-heading .included-heading {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600
}

.course.business-pricing .pricing-row .pricing-panel .panel-heading ul.included-items {
	padding-left: 15px
}

.course.business-pricing .pricing-row .pricing-panel .panel-heading ul.included-items li {
	font-size: 16px
}

.course.business-pricing .pricing-row .pricing-panel .panel-body .pricing-panel {
	border: 2px solid #d0d9df;
	border-radius: 4px
}

.course.business-pricing .pricing-row .pricing-panel .panel-body .pricing-panel.selected {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ffd723
}

.course.business-pricing .pricing-row .pricing-panel .panel-body .pricing-panel.selected .panel-body {
	-webkit-box-shadow: none;
	box-shadow: none
}

.course.business-pricing .pricing-row .pricing-panel .panel-body.total,
.course.business-pricing .pricing-row .pricing-panel .panel-body.total-per-learner {
	background-color: #f9f9f9
}

.course.business-pricing #content {
	overflow-x: hidden
}

.course.business-pricing .custom-solution-description {
	background-color: #d0d9df;
	border-radius: 4px;
	font-size: 16px;
	padding: 15px
}

.course.business-pricing .section-description {
	font-size: 16px
}

.course.business-pricing .white-section {
	background-color: #fff
}

#page.od-settings.annual-upgrade:not(.edit) #courses-panel .pricing-panel .panel-body,
#page.od-settings.annual-upgrade:not(.edit) #enterprise-panel .pricing-panel .panel-body,
#page.od-settings.courses-upgrade:not(.edit) #courses-panel .pricing-panel .panel-body,
#page.od-settings.courses-upgrade:not(.edit) #enterprise-panel .pricing-panel .panel-body,
#page.od-settings.enterprise-upgrade:not(.edit) #courses-panel .pricing-panel .panel-body,
#page.od-settings.enterprise-upgrade:not(.edit) #enterprise-panel .pricing-panel .panel-body {
	padding: 13px
}

#page.od-settings.annual-upgrade:not(.edit) #courses-panel .pricing-panel.selected,
#page.od-settings.annual-upgrade:not(.edit) #enterprise-panel .pricing-panel.selected,
#page.od-settings.courses-upgrade:not(.edit) #courses-panel .pricing-panel.selected,
#page.od-settings.courses-upgrade:not(.edit) #enterprise-panel .pricing-panel.selected,
#page.od-settings.enterprise-upgrade:not(.edit) #courses-panel .pricing-panel.selected,
#page.od-settings.enterprise-upgrade:not(.edit) #enterprise-panel .pricing-panel.selected {
	border-color: #ffd723
}

#page.od-settings.annual-upgrade.edit #combined-pricing,
#page.od-settings.annual-upgrade.edit #courses-panel,
#page.od-settings.annual-upgrade.edit #enterprise-panel,
#page.od-settings.courses-upgrade.edit #combined-pricing,
#page.od-settings.courses-upgrade.edit #courses-panel,
#page.od-settings.courses-upgrade.edit #enterprise-panel,
#page.od-settings.enterprise-upgrade.edit #combined-pricing,
#page.od-settings.enterprise-upgrade.edit #courses-panel,
#page.od-settings.enterprise-upgrade.edit #enterprise-panel {
	padding: 0;
	border: none;
	background-color: transparent
}

#page.od-settings.annual-upgrade.edit #combined-pricing .pricing-panel,
#page.od-settings.annual-upgrade.edit #courses-panel .pricing-panel,
#page.od-settings.annual-upgrade.edit #enterprise-panel .pricing-panel,
#page.od-settings.courses-upgrade.edit #combined-pricing .pricing-panel,
#page.od-settings.courses-upgrade.edit #courses-panel .pricing-panel,
#page.od-settings.courses-upgrade.edit #enterprise-panel .pricing-panel,
#page.od-settings.enterprise-upgrade.edit #combined-pricing .pricing-panel,
#page.od-settings.enterprise-upgrade.edit #courses-panel .pricing-panel,
#page.od-settings.enterprise-upgrade.edit #enterprise-panel .pricing-panel {
	min-height: 370px
}

#page.od-settings.annual-upgrade.edit #combined-pricing .total-per-learner,
#page.od-settings.annual-upgrade.edit #courses-panel .total-per-learner,
#page.od-settings.annual-upgrade.edit #enterprise-panel .total-per-learner,
#page.od-settings.courses-upgrade.edit #combined-pricing .total-per-learner,
#page.od-settings.courses-upgrade.edit #courses-panel .total-per-learner,
#page.od-settings.courses-upgrade.edit #enterprise-panel .total-per-learner,
#page.od-settings.enterprise-upgrade.edit #combined-pricing .total-per-learner,
#page.od-settings.enterprise-upgrade.edit #courses-panel .total-per-learner,
#page.od-settings.enterprise-upgrade.edit #enterprise-panel .total-per-learner {
	border-top: none
}

.bag-card .pricetag {
	width: 45%;
	background-color: #fff;
	float: right;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin-right: 13px;
	margin-top: 8px;
	padding: .5rem 1rem
}

.bag-card .price-text {
	font-weight: 700;
	font-size: 16px
}

.bag-card .sale-price {
	text-decoration: line-through;
	display: block;
	float: right;
	margin-right: 6px;
	color: #ff2d55;
	font-size: 11px
}


.bag-card .pricetag.sale-pricetag {
	margin-top: -7px
}

#page.business.courses-for-teams .yellow-section .panel p.price-from {
	margin-bottom: -5px;
	font-size: 18px
}

#page.business.courses-for-teams .yellow-section .panel span.price-number {
	font-size: 60px
}

#page.business.courses-for-teams .yellow-section .panel span.price-currency {
	font-size: 25px
}

@media (min-width:768px) {
	#course-about-coupon-banner .container {
		padding: 10px
	}
	#course-about-coupon-banner .container .inner {
		border: 1px dashed #89949b;
		padding: 10px
	}
	#course-about-coupon-banner .container .inner .coupon-price {
		padding-top: 16px
	}
	#course-about-coupon-banner .container .inner .coupon-details {
		padding-top: 14px;
		font-size: 14px
	}
	#course-about-coupon-banner .container .inner .coupon-details p {
		margin-bottom: 3px
	}
	#course-about-coupon-banner .container .inner .deal-cta {
		text-align: center;
		padding-left: 15px
	}
	#course-about-coupon-banner .container .inner .deal-cta .btn-xl {
		padding: 20px 25px
	}
}

#cart.subscription .payment-panel .sale-price {
	text-decoration: line-through;
	display: block;
	color: #ff2d55
}
#cart.subscription .payment-panel .price {
	font-size: 20px;
	font-weight: 700
}

.package-select .panel .panel-body.total-per-learner .price {
	font-size: 36px
}

.package-select .panel .panel-body.total-per-learner .price .currency-symbol {
	font-size: 14px
}

.package-select .panel .panel-body.total-per-learner .price .amount {
	font-size: 40px;
	position: relative;
	left: 0;
	bottom: -6px
}

.package-select .panel .panel-body.total .price {
	font-weight: 700
}

#page.od-settings.billing #billing-options-row .panel-footer .pro-rata .price {
	display: block;
	font-weight: 700;
	font-size: 18px
}

#page.od-settings.cart .formatted-price {
	font-size: 36px;
	color: #36373c;
	font-weight: 700;
	line-height: 36px
}

#page.od-settings.cart .formatted-price .currency-acronym {
	font-size: 18px
}

#page.od-settings.cart .formatted-price .amount .cents {
	margin-left: 2px;
	font-size: 18px
}

#page.od-settings.cart #cart-security {
	background-color: #eee
}

#page.od-settings.annual-upgrade .pro-rata .price .amount,
#page.od-settings.courses-upgrade .pro-rata .price .amount,
#page.od-settings.enterprise-upgrade .pro-rata .price .amount {
	position: relative;
	left: 0;
	bottom: -5px;
	font-size: 36px
}

#page.od-settings.annual-upgrade .pro-rata .price .currency-symbol,
#page.od-settings.courses-upgrade .pro-rata .price .currency-symbol,
#page.od-settings.enterprise-upgrade .pro-rata .price .currency-symbol {
	font-size: 14px;
	font-weight: 400
}

#page.od-settings.annual-upgrade .pro-rata .price .currency-acronym,
#page.od-settings.courses-upgrade .pro-rata .price .currency-acronym,
#page.od-settings.enterprise-upgrade .pro-rata .price .currency-acronym {
	font-size: 14px;
	font-weight: 400
}

#page.od-settings.annual-upgrade .container .next-charge .currency-acronym,
#page.od-settings.annual-upgrade .container .next-charge .currency-symbol {
	font-size: 14px
}

#cart .currency {
	border-left: 1px solid #d0d9df;
	max-width: 120px
}

#cart td.currency {
	font-size: 16px;
	font-weight: 600;
	text-align: right;
	color: #222
}

#cart td.currency.cart-tax {
	color: #89949b;
	font-size: 13px
}

#cart th.currency {
	text-align: right
}


.select-period-toggle {
	text-align: center;
	position: relative;
	margin-top: 30px
}

.select-period-toggle .left-label,
.select-period-toggle .right-label {
	position: relative;
	font-size: 16px;
	font-weight: 700
}

.select-period-toggle .left-label {
	right: 0
}

.select-period-toggle .right-label {
	left: 0
}

.select-period-toggle .label-text:after,
.select-period-toggle .label-text:before {
	top: 4px;
	position: absolute;
	font-size: 16px;
	font-weight: 700
}

.select-period-toggle .label-text:before {
	content: 'Monthly';
	left: -40px;
	width: 50%;
	text-align: right
}

.select-period-toggle .label-text:after {
	content: 'Annually';
	right: -40px;
	width: 50%;
	text-align: left
}

@media (max-width:767px) {
	.select-period-toggle .label-text:after {
		content: 'Annually'
	}
}

.select-period-toggle .switch {
	max-width: none;
	vertical-align: middle
}

.select-period-toggle .switch input+.slider {
	background-color: #89949b
}

.select-period-toggle .switch input+.slider:before {
	background-color: #ffd723
}

#cart .cart-course-period {
	text-align: right
}
.package-select .period-cta .panel-body {
	cursor: default
}

@media (max-width:767px) {
	#page.od-settings .upgrade-panels .panel-footer {
		text-align: center
	}
	#page.od-settings .upgrade-panels .panel-footer #update-billing-period {
		float: none!important;
		margin-top: 15px;
		display: block
	}
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #36373c
}

.popover.bottom {
	margin-top: 10px
}

@media (max-width:1000px) {
	.testimonials-tile .item {
		width: 100%;
		min-height: auto
	}
	.testimonials-tile .item .author,
	.testimonials-tile .item .name {
		font-size: 16px!important
	}
	.testimonials-tile .item .quote span {
		font-size: 18px!important
	}
}
.testimonials-tile .item .author,
.testimonials-tile .item .name {
	font-size: 18px;
	font-weight: 700
}

#page.activity .activity-credits .name {
	font-weight: 700
}

#enterprise-included-panel li .name {
	font-weight: 700
}

.organization.activities .activity-credit-edit .qualification-credit-row .name {
	width: 100%
}

#lesson-navigation .name {
	color: #89949b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.tutor .panel .tutor-details .name {
	padding: 180px 0 0 5px;
	float: left
}

@media (max-width:767px) {
	.tutor .panel .tutor-details .name {
		clear: both;
		float: none;
		margin: 0 auto;
		padding: 10px 0 0;
		display: table
	}
}

.tutor .panel .tutor-details .name .affiliation {
	display: none
}

.tutor .panel .tutor-details .name h1 {
	font-weight: 400;
	color: #36373c;
	margin-bottom: 4px
}

.hidden {
	display: none!important
}
@media (max-width:767px) {
	.hidden-xs {
		display: none!important
	}
}

@media (min-width:768px) and (max-width:991px) {
	.hidden-sm {
		display: none!important
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.hidden-md {
		display: none!important
	}
}

@media (min-width:1200px) {
	.hidden-lg {
		display: none!important
	}
}

.course-icon-color {
	display: block;
	width: 60px;
	padding: 10px;
	border-radius: 4px;
	overflow: hidden;
	background: #36373c
}

.course-icon-color img {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 4px;
	color: #36373c
}
.course .course-title .course-icon-color {
	cursor: pointer;
	margin-right: 15px
}

.search #content .container .course-icon-color {
	margin: 0 15px 5px 0;
	float: left
}

.org-dashboard .od-table.courses-table .course-icon-color,
.org-dashboard .od-table.courses-table .course-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #d0d9df
}

.org-dashboard .od-table.courses-table .course-icon-color img {
	width: 30px;
	height: 30px
}

.org-dashboard .od-learners.learner-profile .course-icon-color,
.org-dashboard .od-learners.learners-groups .course-icon-color,
.org-dashboard .od-training.groups-select .course-icon-color {
	display: inline-block;
	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 4px
}

.org-dashboard .od-learners.learner-profile .course-icon-color img,
.org-dashboard .od-learners.learners-groups .course-icon-color img,
.org-dashboard .od-training.groups-select .course-icon-color img {
	width: 20px;
	height: 20px
}

.org-dashboard .od-learners.learners-groups .groups-table tbody tr td.courses-col .course-icon-color {
	display: inline-block;
	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 4px
}

.org-dashboard .od-learners.learners-groups .groups-table tbody tr td.courses-col .course-icon-color img {
	width: 20px;
	height: 20px
}

.od-orgtag-card .tag-courses .course-icon-color {
	vertical-align: middle
}

.od-orgtag-card .tag-courses .course-icon-color,
.od-orgtag-card .tag-courses .org-tag-course {
	border-radius: 4px;
	margin-right: 10px;
	-webkit-box-shadow: 0 2px 3px #89949b;
	box-shadow: 0 2px 3px #89949b
}

.bag-card .sale-tag {
	display: inline-block;
	background-color: #f9f9f9;
	height: 32px;
	width: 85px;
	padding: 4px;
	letter-spacing: .1em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

#page.home #hero .sale-heading {
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 10px
}

#page.home #hero .sale-heading:after {
	position: absolute;
	content: '';
	display: block;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 1px;
	background: #fff;
	margin: 0 0 0 -25px
}

#page.home #hero.sale-new-year {
	background: #0091ff
}

#page.home #hero.sale-new-year .vertical-center-cell {
	padding: 0 15px
}

#page.home #hero.sale-new-year h2 {
	font-weight: 700
}

#page.home #hero.sale-new-year h2 strong {
	font-weight: 700;
	color: #ffd723
}

#page.home #hero.sale-new-year img {
	width: auto;
	height: 180px
}

@media (min-width:992px) {
	#page.home #hero.sale-new-year .vertical-center-cell {
		text-align: left;
		background: transparent url(https://cdn.goskills.com/assets/images/home/banners/new-year/illustration-right.svg) 100% 50% no-repeat;
		background-size: auto 80%
	}
	#page.home #hero.sale-new-year h2 {
		max-width: 40%
	}
	#page.home #hero.sale-new-year .btn {
		min-width: 180px
	}
	#page.home #hero.sale-new-year img {
		display: none
	}
}

@media (min-width:1200px) {
	#page.home #hero.sale-new-year .vertical-center-cell {
		background-size: contain
	}
}